.card {
    width: 230px;
    height: 300px;
    border-radius: 10px;
    padding: 15px 2px;
    margin: 60px;
    justify-self: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.item-title {
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    font-size: xl-large;
}

.item-category {
    font-style: italic;
}

.jauge {
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 5px;
    border-radius: 10px;
}

.likes-jauge {
    background-color: #75c773;
    border-radius: 10px 0 0 10px;
    height: 100%;
}

.dislikes-jauge {
    background-color: #de575c;
    border-radius: 0 10px 10px 0;
    height: 100%;
}

.actions {
    display: flex;
    justify-content: space-evenly;
}

.del-btn {
    border: none;
    margin-top: 50px;
    cursor: pointer;
    
}

.item-likes {
    border: none;
    border-radius: 30px;
    padding: 2px 5px;
    background-color: #fff;
    cursor: pointer;
}

